.main-brand {
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .photo {
        display: flex;
        gap: 5px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}