.MainSlide {
    width: 100vw;
    min-height: 280px;
    .swiper {
        width: 100vw;
        max-width: 500px;
        max-height: 300px;
    }
     .swiper-slide {
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
      }
        iframe {
            width: 100%;
            max-width: 500px;
            object-fit: cover;
            pointer-events: none;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            max-height: 280px;
            object-fit: cover;
        }
        .swiper-pagination {
            width: 8%;
            border-radius: 10px;
            font-size: 0.625rem;
            text-align: center;
            background-color: rgba($color: #fff, $alpha: 0.5);

            position: absolute;
            left: 88%;
            bottom: 6%; 
            pointer-events: none;
        }
}
